.home-page-categories {
  margin: 1vw 10vw;
}

.grid-container {
  display: grid;
  grid-template-columns:auto auto auto auto auto;
  grid-gap: 3vh 0px;
}

.grid-container:last-child {
  margin-right: 0;
}

.grid-item {
  text-align: center;
  margin: auto 1vw auto auto;
}

.grid-item:hover  img{
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.8);
}

.grid-item img {
  width: 16vw;
  height: auto;
  box-shadow: 2px 2px 2.5px 0px rgba(0,0,0,0.5);
}

.item-meta-info {
  width: 15vw;
  text-align: left;
}

.item-meta-info h4{
  margin: 0;
}

.grid-item-title {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 14vw;
  color: black;
  font-weight: 600;
  margin: 0.4vh auto;
} 

.grid-genres {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.grid-item-genre {
  font-size: 0.6em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0.6vh 0.2vw 0.6vh 0;
  font-weight: 600;
  color: #DFAC3B;
}

.grid-item-rating {
  text-align: left; 
  font-weight: 600;
  margin: 0.4vh auto;
  color: black;
}

.item-meta-info {
  padding: 1vh 0 1vh 0vw;
}

.category-title {
  padding: 2.5vh 0 1vh 0;
  font-weight: 600;
}