.line-at-top {
  background-color: #DFAC3B;
  height: 0.6vh;
}

.carousels {
  width: 90vw;
  margin: 3vw 5vw;
}

.container {
  width: 90vw;
  margin: 5vw;
  /* background */
}

a {
  text-decoration: none;
  color: #DFAC3B;
  font-weight: 500;
}

img {
  border-radius: 2px;
}