footer {
  height: 20vh;
  width: 100%;
  background-color: #DFAC3B;
  position: absolute;
  /* bottom:0;
  left: 0;
  right: 0; */
}


.footer {
  margin: 0;
  padding: 0;
}

.logo {
  position: absolute;
  right: 0;
}

.logo img{
  
  height: 5vh;
  width: 5vw;
}


/* footer img {
  position: absolute;
  right: 0;
  margin: 3vh 5vw 3vh 3vw;
  width: auto;
  height: 13vh;
} */

