.movie-backdrop {
  width: 100vw;
  height: 40vw;
  object-fit: cover;
}

.movie-info-page {
  margin: 0vh 0vw 120vh 0vw;
}

.main-movie-details {
  position: absolute;
  width: 50vw;
  top:75vh;
  left: 5vw;
  display: inline-flex;
}

.movie-poster {
  border: 3px solid #DFAC3B;
}

.movie-title {
  padding: 6vh 0vw 0vh 2vw;
}

.sub-movie-details {
  position: absolute;
  width: 90vw;
  top:110vh;
  left: 5vw;
  font-weight: 100;
}

.cast-carousel {
  position: absolute;
  width: 90vw;
  top:128vh;
  left: 5vw;
}

.charactor-name {
  margin-top: 0;
  color: rgba(223,172,59, 0.7);
}

.actor-real-name {
  margin-bottom: 0.4vh;
}




