.main-section {
  height: 89vh;
}

.main-info {
  padding: 25vh 10vw 20vh 10vw;
  display: flex;
}

.col1 {
  width: 35vw;
}

.col1 h1 {
  margin: 0;
  font-size: 2.75rem;
  font-weight: 600;
  color: white;
}

.col1 p {
  line-height: 1.5em;
  color: white;
}

.col2 {
  margin-left: 10vw;
  width: 30vw;
}

.col2 h4, p, ul {
  color: white;
  list-style-type: none;
}

.col2 h4 {
  text-transform: uppercase;
  color: lightgray;
  font-weight: 400;
  font-size: 0.9rem;
}

.col2 p {
  font-size: 0.75rem;
}

.col2 ul {
  display: flex;
  flex-wrap: wrap;
}

.col2 ul, li {
  margin-right: 1vw;
}